.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem); /*altura do footer */
}
body {
    background-color: #1A1A1A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}