@import url("cabecalho.css");
@import url("corpo.css");
@import url("modal.css");
@import url("rodape.css");

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}